@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("some redacted local address"){
/*	glpiBare.css v1.3 */
  
div#c_ssmenu1 {
    display:none !important;
  }
  
div#c_recherche {
    display:none !important;
  }  
  
div#c_preference {
    display:none !important;
  }  
  
div#c_menu {
    display:none !important;
  }

div#c_logo {
  width:250px !important;
   height:62px !important;
//   display:none !important;
//    float:right !important;
  }

td.tab_bg_2 {
    display:none !important;
  }
  
a#global_entity_select {
    display:none !important;
  }
  
img.hideme {
    display:none !important;
  }
  
table {
    font-size: 12px !important;
  }
  
#spansearchtypecriteriaConsumableItem0 {
  width: 500px !important;
  size: 300px !important;
}
  
.tab_cadre_fixe {
  height: 50px;
}


/*  
li:nth-child(2) {
    display:none !important;
  }
*/
}
